@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.image-gallery-image {
  height: 85vh;
}

.settings-form-group {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 0;
}

.rjsf div {
  width: 100%; /* или другой размер, который вы хотите установить */
}


